.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}
.operationWrap {
  width: 100%;
  margin: 20px 20px;
}
.content {
  padding: 20px
}
.margin-right-20 {
  margin-right: 20px;
}